.left{
    width: 45%;
    border: 1px solid orange;
    border-radius: 4px;
    margin-left: 1.5rem;
    
}
.name{
    background-color: transparent;
    border: none;
    color: orange;
    border-bottom: 1px solid orange;
    font-size: 1rem;
}
.email{

    background-color: transparent;
    border: none;
    color: orange;
    border-bottom: 1px solid orange;
    font-size: 1rem;
}
.phone{
    background-color: transparent;
    border: none;
    color: orange;
    border-bottom: 1px solid orange;
    font-size: 1rem;

}
.btn{
    background-color: orange;
    border-radius: 4px;
    padding: 0.5rem 3rem;
    border: none;
    margin-bottom: 1rem;
}